In [40]:
import pandas as pd
   
import nltk
nltk.download('words')
from sklearn.feature_extraction.text import CountVectorizer

from data_utils import DataUtils
from nlp_utils import NLPUtils

dataUtils = DataUtils()
nlpUtils = NLPUtils()

dataset = pd.read_csv('data/disaster_messages.csv')

dataset.head()

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\mrugeles\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [41]:
# Top words
def get_matrix():
    count_vect = CountVectorizer(tokenizer=nlpUtils.tokenize)
    vectorized = count_vect.fit_transform(dataset['message'])
    print(f'vectorized type: {type(vectorized)}')
    return pd.DataFrame(vectorized.toarray(), columns=count_vect.get_feature_names())

%time matrix = get_matrix()

vectorized type: <class 'scipy.sparse.csr.csr_matrix'>
Wall time: 3min 49s

In [42]:
#v1 matrix.shape: (26248, 29228), Wall time: 3min 55s
#v2 matrix.shape: (26248, 11830), Wall time: 3min 55s
print(f'matrix.shape: {matrix.shape}')
matrix.head()

matrix.shape: (26248, 29228)

,aa,aaa,aaaaaaaa,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,aaaaand,aaas,aab,aabad,aabout,aaca,...,zurich,zvun,zwaar,zwkmjkkz,zxcap,zxje,zxlo,zy,zz,zzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
csr_m.shape

(26248, 29228)

In [44]:
from nltk.corpus import words
from textblob import TextBlob
import tqdm
english_corpus = set(words.words())
word_list = list(matrix.columns)
word_list = list(set(word_list).intersection(english_corpus))
word_list.sort()
matrix = matrix[word_list]
print(f'matrix.shape: {matrix.shape}')
matrix.head()

matrix.shape: (26248, 10989)

,aa,aba,abandon,abate,abatement,abbas,abdomen,abdominal,abduct,abduction,...,zimbabwe,zinc,zo,zodiac,zombie,zonal,zone,zoo,zoom,zoonotic
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
from scipy.sparse import csr_matrix

%time csr_m = csr_matrix(matrix.values)

Wall time: 2.23 s

In [47]:
csr_m.shape

(26248, 10989)

In [ ]:
dataset.iloc[11708]['message']

In [ ]:
count_vect = CountVectorizer()
vectorized = count_vect.fit_transform(dataset['message'])
%time matrix = pd.DataFrame(vectorized.toarray(), columns=count_vect.get_feature_names())

In [ ]:
matrix